<div class="row pb-3">
  <div class="align-content-start mr-auto pl-4">
    <h1>Film list</h1>
  </div>
  <div class="align-content-end ml-auto pr-4 pt-2">
    <a class="btn btn-success" routerLink="create" *ngIf="isAdmin$ | async">
      <fa-icon [icon]="faPlus"></fa-icon>
    </a>
  </div>
  <div class="div-divider"></div>
</div>
<div class="row row-cols-1 row-cols-md-3">
  <div *ngFor="let film of films$ | async">
    <app-film-card [film]="film" (event)="deleteFilm($event)"></app-film-card>
  </div>
</div>
